<!DOCTYPE html>
<html>
    <head>
        <title>Alton Live GPS Tracker - Create New Session</title>
        <base href="{{rootUrl}}/" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="assets/styles/generic.css" type="text/css" />
        <link rel="stylesheet" href="assets/styles/bootstrap.css" type="text/css" />
        <script type="text/javascript" src="assets/scripts/jquery.min.js"></script>
        <script type="text/javascript" src="assets/scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="offset2 span8">
                    <h1>Create New Session</h1>
                    <form action="" method="post">
                        <div class="well">
                            <div><label for="txtNote">Note (optional):</label></div>
                            <div><textarea name="note" id="txtNote" class="span6"></textarea></div>
                        </div>
                        
                        <div class="form-actions"><input class="btn btn-large btn-primary" type="submit" value="Create Session" /> <a class="btn btn-large btn-inverse" href="">Cancel</a></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
